<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>User First Name:</strong>
  <%= @current_user.profile.first_name.upcase %>
</p>

<p>
  <strong>Currents Profile's user's companies :</strong>
  <% @profile.user.companies.each do |com| %>
    <li><%= link_to com.name, company_path(com)%></li>
  <% end%>
  <br>
  
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
