<header class="sticky top-0 z-50 w-full px-4 py-4 lg:px-0", style="background-color: hsla(0,0%,100%,.9);}">
  <div class="container flex flex-wrap items-center justify-between mx-auto">

    <%= link_to root_path, class:"flex flex-wrap items-center justify-start" do %>
      <h1 class="text-2xl font-black leading-none font-display">Built In Toronto</h1>
      <p class="relative block ml-1 font-sans text-xs italic">Beta</p>
    <% end %>
  
    <div class="block lg:hidden">
      <button type="button" id="mobile-menu" class="flex items-center px-2 text-white lg:px-4 lg:hidden focus:outline-none focus:text-gray-700">
          <svg class="w-6 h-6 text-gray-700 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
      </button>
    </div>

    <ul class="flex-wrap justify-start block lg:flex">
      <li class="py-2 text-center lg:pl-2 lg:py-0 lg:text-left"><%= link_to "All Companies", companies_path, class: "w-full text-lg btn btn-transparent lg:w-auto lg:text-sm" %></li>
      <li class="py-2 text-center lg:pl-2 lg:py-0 lg:text-left"><%= link_to "My companies", mycompanies_path, class: "w-full text-lg btn btn-transparent lg:w-auto lg:text-sm" %></li>            
    </ul>


    <nav class="hidden w-full lg:block lg:w-auto" id="main-nav">
      <ul class="flex-wrap items-center justify-start block lg:flex">
        <% if user_signed_in? %>
          <li class="py-2 text-center lg:pl-2 lg:py-0 lg:text-left"><%= link_to "Edit account", edit_user_registration_path, class: "w-full text-lg btn btn-transparent lg:w-auto lg:text-sm"  %></li>
          <li class="py-2 text-center lg:pl-2 lg:py-0 lg:text-left"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "w-full text-lg btn btn-transparent lg:w-auto lg:text-sm" %></li>
                    
          <% else %>
          
          <li class="py-2 text-center lg:pl-2 lg:py-0 lg:text-left"><%= link_to "Login", new_user_session_path, class:"w-full text-lg btn btn-transparent lg:w-auto lg:text-sm" %></li>
          <li class="py-2 text-center lg:pl-2 lg:py-0 lg:text-left"><%= link_to "Sign Up", new_user_registration_path, class:"w-full text-lg btn btn-transparent lg:w-auto lg:text-sm" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>